<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <Appenders>
         <Console name="Console"  target="SYSTEM_OUT">
          <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t]  %-5level %c | %msg %n"/>
         </Console>
      
      <!-- Rolling local -->
        <RollingFile name="File"
            fileName="${bundle:application:url.san.log.path}LogFile.log"
            filePattern="${bundle:application:url.san.log.path}LogFile_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t]  %-5level %c | %msg %n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile> 
        
 
    </Appenders>
   
   <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
   </Loggers>
</configuration>
